.styleForAll {
  margin-left: 160px;
  margin-right: 160px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'source-serif-pro', 'Source Serif Pro', 'Lyon Display Web','LyonDisplay-Medium', serif;
}
.Margin_controller{
  margin-left: 160px;
  margin-right: 160px;
}
.navbar{
  background-color: white;
}
.navbar-brand{
  font-size: 40px;
  height: 40px;
}
.delogo{
  width:80px;
  margin-left: 10px;
  margin-right: 150px;
}
.a{
  color: blue;
}
.ab{
  border-radius: 5%;
  border: 1px solid blue;
}

.MainNews{
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
.rightDiv{
  padding: 50px;
}
.NewsHeading{
  font-size: 40px;
  font-weight: 900;
  line-height: 48.5px;
}
.SubNews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  padding-top: 20px;
  padding-bottom: 20px;
}
.SubDiv img{
  width: 270px;
}
.SubDiv img{
  width: 270px;
}
.SubDiv a{
  text-decoration: none;
  color: black;
}
.text-muted{
  font-size: 14px;
  font-weight: 0;
  text-decoration: none;
}

/* Css for latest videos */
.LatestVideos{
  background-color: black;
  color: white;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.HeadingItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.VodeoPoster{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.poster{
  width: 90%;
}
.item1{
  margin-left: 20px;
  text-decoration: none;
}
.item1 a{
  color: white;
}
/* css for footer */
.icons svg{
  margin-left: 10px;
}
.Footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
}
.MainFooter{
  background-color: black;
  color: white;
  padding-bottom: 2%;
}
.MainContent {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 14px;
  font-weight: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
}

.LeftFooter {
  float: left;
  width: 50%;
  background-color: black;
  padding-bottom:55px;
  border-right: 2px solid grey;
}

.RightFooter {
  float: right;
  width: 50%;
  background-color: black;
  padding-left: 10%;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}
.grid-item {
  color: white;
  text-align: center;
}
.justify-content-center{
  padding-top: 2%;
}
.left-spacing{
  padding-left: 20px;
}



@media only screen and (max-width: 600px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
   
  }
}