body {
  margin-left: 150px;
  margin-right: 150px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'source-serif-pro', 'Source Serif Pro', 'Lyon Display Web','LyonDisplay-Medium', serif;
}
.navbar{
  background-color: white;
}
.navbar-brand{
  font-size: 40px;
  height: 40px;
}
.delogo{
  width:80px;
  margin-left: 0;
  margin-right: 150px;
}
.a{
  color: blue;
}
.ab{
  border-radius: 5%;
  border: 1px solid blue;
}

.MainNews{
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
.rightDiv{
  padding: 50px;
}
.NewsHeading{
  font-size: 40px;
  font-weight: 900;
}


@media only screen and (max-width: 600px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
   
  }
}